@import url(https://fonts.googleapis.com/css?family=Raleway);
body{
    font-family: helvetica, arial, sans-serif;
	font-size:1em;
}
header{
    background-color: #264838;	
    border-radius: 5px;
    display:flex;
    justify-content: space-between;
}
main{
    display:flex;
    gap: 15px;
    margin: 5px;
    padding: 1%;
    border: 3pt dotted #ff0000;
}
section{
    padding:0 10px 10px 0;
    flex: 1 1 auto;
}
.sidebar{
    background-color: #ffe694a1;
    padding:10px 20px;	
    border:1px solid #ccc;
    border-radius:8px;
    margin-top: 70px;
    flex: 0 0 200px;
}
.sidebar > p > img{
    border-radius: 8px;
}

h1, h2{
    font-family: 'Raleway', sans-serif;
}

.container{
    width:100%;	
    margin:auto;
    max-width: 1200px;
    min-width: 600px;
}

.resize-img{
    height: 100%;
    width: 100%;
}

nav ul{	
    padding-left:0;
    list-style: none;
}
nav ul li{	
    display:inline;
    padding-left:10px;
    padding-right:10px;
    border-left:1px solid #7E8AA2;
}
nav li:first-child{
    border-left:none;	
}
nav li a{
    text-decoration: none;	
    color: #fff;	
}
nav li a:hover{
    color: #7E8AA2;	
}
nav li a:root

header h1 a{
    color:#fff;
    text-decoration:dotted;
}
header h1 a:hover{
    text-decoration: underline;
}
#logo{
    padding:10px;
}

.quals{
    border-collapse: collapse;
}
.quals th{
    border-bottom:3px solid #ccc;
    padding:5px;
}
.quals td{
    border-bottom:1px solid #ccc;
    padding:5px;
}

footer{
    border-top:1px solid #ccc;
    margin:20px 10px 10px 0;
    font-size:0.8em;
    text-align:center;
    font-style:italic;
}